
:root {
    --bg-color: rgb(50, 49, 66);
    --header-bg-color: rgba(151, 135, 189, 0.76);
    --nav-bg-color: rgba(210, 197, 235, 0.76);
    --footer-bg-color: rgba(151, 135, 189, 0.76);
    --font-family: "Oxanium", system-ui;
    --font-size: 1.3em;
}

/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--bg-color);
    width: 80%;
    margin: 0 auto;
    font-family: var(--font-family);
}

.block {
    white-space: nowrap;
    overflow: auto;
}

a {
    display: block;
    text-align: center;
}

ul {
    list-style: none;
}

/* Container styles */
#content {
    min-height: 100vh;
    background-color: rgba(250, 248, 255, 0.75);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    font-size: var(--font-size);
}

/* Layout sections */
header, nav, footer {
    background-color: var(--header-bg-color);
}

header {
    background-image: url("images/AhjinLogo.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0 0 2.5em 4em;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
}


h1 {
    margin-left: 3%; 
    font-size: 3em; 
}

h2 {
    font-family: var(--font-family);
    font-size: 2em;
}
nav {
    background-color: var(--nav-bg-color);
    font-size: 3em;
    grid-row: 2 / 3;
    grid-column: 1 / -1;
}

footer {
    background-color: var(--footer-bg-color);
    text-align: center;
    grid-row: 4 / 5;
    grid-column: 1 / -1;
}

/* Main content */
main {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}


aside {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding-top: 300px;
    text-align: center;
}


aside figure {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    margin: 0; 
}


aside figure img {
    width: 100%; 
    max-width: 400px; 
    height: auto; 
    display: block; 
    margin-bottom: 15px;
}

/* Adjustments for text within figure */
aside figure h2,
aside figure br,
aside figure a {
    margin-bottom: 10px; 
}


/* Navigation list */
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    margin: 0;
}


/* Property Grid */
.property {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
}

#pro1, #pro2, #pro3 {
    margin: auto;
}

/* Textbox style */
.textbox {
    display: block;
    height: 5em;
    width: 15em;
}


form {
    display: grid;
    grid-template-columns: 13% 10%;
}

/* Responsive design */
@media (max-width: 768px) {
    body {
        width: 100%;
    }

    #content {
        grid-template-columns: 1fr;
    }

    .property {
        grid-template-columns: 1fr;
    }
}





